@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//variables
$boldColor: hsl(238, 29%, 16%);
$neutralQuestions: hsl(237, 12%, 33%);
$neutralAnswers: hsl(240, 6%, 50%);
$hoverQuestions: hsl(14, 88%, 65%);


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===========
 Base Rulers
============*/

body {
    background-image: linear-gradient(to bottom,
     hsl(273, 75%, 66%),
     hsl(240, 73%, 65%)
    );
    background-repeat: no-repeat;
    font-size: 75%;
    font-family: "Kumbh Sans";
}

main {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

img {
    transform: scale(0.9);

    @media(min-width: 900px) {
        transform: none;
    }
}

h1 {
    font-size: 2.5em;
    color: $boldColor;
}

h2 {
    font-weight: 400;
    font-size: 1.1em;
    color: $neutralQuestions;

    &.selected {
        font-weight: 700;
        color: $boldColor;
    }
}

p {
    transition: opacity 0.5s ease-in, height 0.5s ease-in,  margin-top 0.7s ease-out;
    opacity: 0;
    height: 0;
    color: $neutralAnswers;
    line-height: 1.5em; 
}

/*=============
 Funcionalities
=============*/
.split {
    display: flex;
}

/*=======
 Layout
========*/

.container {
    width: 90%;
    height: 75%;
    max-height: calc(40em);
    margin-top: 20%;
    padding-bottom: 2.5em;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .2);
    overflow: auto;
    flex-direction: column;

    @media(min-width: 650px) {
        margin-top: 10%;
    }

    @media(min-width: 900px) {
        flex-direction: row;
        width: 70%;
        height: 65%;
        margin-top: 0;
        border-radius: 20px;
        padding: 0;
        overflow: hidden;
        transition: margin-right .3s;
    }
}

.img-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    @media(min-width: 650px) {
        transform: translate(-40%, -50%);
    }

    @media(min-width: 900px) {
        width: 80%;
        position: relative;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    @media(min-width: 1100px) {
        width: 100%;
        transform: translate(0, -50%) scale(0.9);
    }
}

.info {
    width: 100%;
    flex-direction: column;
    align-items: center;

    @media(min-width: 900px) {
        width: 120%;
        align-items: flex-start;
        // justify-content: center;
        margin: 5em 3em 5em 3em;
        position: relative;
        display: grid;
        place-items: center;
    }

    @media(min-width: 1100px) {
        margin: 5em 6em; 
        width: 100%;
    }
}

.questions {
    margin: 2.5em 3em 0 3em;

    @media(min-width: 900px) {
        margin: 2.5em 0 0 0;
    }
}

/*========
 Elements
=========*/

.woman-img-mobile {
    z-index: 99;

    @media(min-width: 900px) {
        display: none;
    }
}

.woman-img-desktop {
    display: none;
    z-index: 99;

    @media(min-width: 900px) {
        display: block;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translate(-10%,-50%) scale(1.2);
    }
}

.bg-img-mobile {
    z-index: 98;
    margin-top: -35%;
    margin-left: 10%;

    @media(min-width: 900px) {
        display: none;
    }
}

.bg-img-desktop {
    display: none;
    z-index: 98;

    @media(min-width: 900px) {
        display: block;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translate(-50%,-140%)
                    scale(2);
        
    }
}

.box-img {
    display: none;
    z-index: 99;

    @media(min-width: 900px) {
        display: block;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-215%, -40%);
        transition: margin-left .3s;
    }

    @media(min-width: 1000px) {
        transform: translate(-230%, -35%);
    }
    
    @media(min-width: 1100px) {
        transform: translate(-250%, -30%);
    }

    @media(min-width: 1200px) {
        transform: translate(-270%, -30%);
    }

    @media(min-width: 1300px) {
        transform: translate(-285%, -30%);
    }

    @media(min-width: 1400px) {
        transform: translate(-300%, -25%) scale(1);
    }
   

}

.title {
    margin-top: 35%;

    @media(min-width:41.67em) {
        margin-top: 25%;
    }

    @media(min-width: 650px) {
        margin-top: 20%;
    }

    @media(min-width: 900px) {
        margin-top: 0;
        place-self: end start;
    }
}

.question-title {
    width: 100%;
    justify-content: space-between;

    img {
        margin-left: 1em;
        padding: .5em 0;
        transition: transform 0.7s ease;
    }
}

.question-container {
    margin-bottom: 1.5em;
}

.question-container::after {
    margin-top: 1em;
    content: "";
    display: block;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    a { 
        color: white;
    }
}

/*====
 States
=====*/

.question-title:hover,
.question-title:focus {
    cursor: pointer;
    outline: none;

    h2 {
        color: $hoverQuestions;
        pointer-events: none;
    }
}

img.selected {
    transform: rotate(180deg);
}

p.active {
    margin-top: 1em;
    opacity: 1;
    height: 100%;
}

.box-img.move {
    margin-left: -4%;
}

.container.move {
    @media(min-width: 900px) {
        margin-right: 5%;
    }
}
